@page
@model RazorApp.Pages.Index

@{
  Layout = "Shared/_Layout";
}

<h1>Index</h1>
<div>  
      <table>
        <thead>
          <tr>
            <td> Clube</td>
            <td> Cidade</td>
          </tr>
        </thead>        
        <tbody>
          @foreach(var item in Model.clubes){
            <tr>
              <td> @item.nome</td>
              <td> @item.cidade</td>
            </tr>
          }
        </tbody>

      </table>

    </div>
