@page
@model RazorApp.Pages.Index;

<!DOCTYPE html>

<html>
  <head>
    <title>Razor Page</title>
  </head>
  <body>
    <div>
      
      <table>
        <thead>
          <tr>
            <td> Clube</td>
            <td> Cidade</td>
          </tr>
        </thead>
        
        <tbody>
          @foreach(var item in Model.clubes){
            <tr>
              <td> @item.nome</td>
              <td> @item.cidade</td>
            </tr>
          }
        </tbody>

      </table>

    </div>
  </body>
</html>
