@page
@model RazorApp.Pages.Index;

<!DOCTYPE html>

<html>
  <head>
    <title>Razor Page</title>
  </head>
  <body>

    <ul>
      <li>
        <a href="~/">Home</a>
      </li>

      <li>
        <a href="~/login">Login</a>
      </li>

      <li>
        <a href="~/sobre">Sobre</a>
      </li>
    </ul>

    <div>  
      <table>
        <thead>
          <tr>
            <td> Clube</td>
            <td> Cidade</td>
          </tr>
        </thead>
        
        <tbody>
          @foreach(var item in Model.clubes){
            <tr>
              <td> @item.nome</td>
              <td> @item.cidade</td>
            </tr>
          }
        </tbody>

      </table>

    </div>
  </body>
</html>
